.container.header__container {
    /* border: solid aqua; */
    text-align: center;
    width: 30%;
    padding: 2rem;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
    font-size: 4rem;
}

.image__container {
    margin-bottom: 2rem;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 30rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}